extends layout

block content
    h1.
        Chortles
    ul
        each user, i in chortles
            li
                user= user.username
            li
                userImage= user.image
            li
                userMessage= user.message
            li
                userLocation= user.location
