extends layout

block content
    h1= title
    form#formAddChortle(name="addchortle",method="post",action="/addchortle")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserImage(type="text", placeholder="userimage", name="userimage")
        input#inputUserMessage(type="text", placeholder="usermessage", name="usermessage")
        input#inputUserLocation(type="text", placeholder="userlocation", name="userlocation")
        button#btnSubmit(type="submit") submit
